In [1]:
# def function_name():
#     pass
# def keyword and function_name  vo function ka name

In [2]:
# function_name() ### function calling

In [3]:
def add():
    a = 10
    b = 20
    sum = a+b
    print(sum)
add()

30

In [4]:
def add(a,b):
    print(a *b)
add(10,20)

200

In [5]:
def add(a,b):
    
    return(a*b)
print(add(10,20))

200

In [6]:
class Student:  ### class is keyword and Student is class name
    pass ### placeholder ke liye 
obj = Student() ### object obj is variable

In [7]:
class Student:
    pass ### placeholder ke liye 
obj = Student()

In [8]:
class Country:
    country_name = "india"   ### class variable
    capital = "new delhi"### class variable
    language = "hindi"## class variable
    religion = "hindu"
    population = 10000000000

con =Country()
print(con.country_name)
print(con.capital)

india
new delhi

In [9]:
con.capital

'new delhi'

In [10]:
con.language

'hindi'

In [11]:
con.religion

'hindu'

In [12]:
con.population

10000000000

In [13]:
class Country:
    country_name = "india"
    capital = "new delhi"
    language = "hindi"
    religion = "hindu"
    population = 10000000000
    def disply(self):
        print(self.country_name)
        print(self.capital)
        print(self.language)
        print(self.religion)
        print(self.population)

con =Country()

In [14]:
con.disply()

india
new delhi
hindi
hindu
10000000000

#### Inheritance
     inheritance is a way of creating new class from existing class 
* single level inheritance
* multiple level inheritance
* multilevel inheritance
* hierarchical inheritance
* hybrid inheritance

In [15]:
## single inheritance
class Father:
    pass
class Child(Father):
    pass

In [16]:
class Father:
    Father_name = "ram lal "
    Father_age  = 50

class Child(Father):
    child_name = "ritik kumar"
    child_age = 22


Child = Child()
print(Child.Father_name)
print(Child.Father_age)
print(Child.child_name)
print(Child.child_age)

ram lal
50
ritik kumar
22

In [17]:
# multlevel inheritance
class Grandfather:
    pass 
class Father(Grandfather):
    pass
class Child(Father):
    pass

In [18]:
class Grandfather:
    grandfather_name = "ram lal"
    grandfather_age = 50
class Father(Grandfather):
    father_name = "ritik kumar"
    father_age = 32
class Child(Father):
    chiled_name = "rahul "
    chiled_age = 20


Child = Child()
print(Child.grandfather_name)
print(Child.grandfather_age)
print(Child.father_name)
print(Child.father_age)
print(Child.chiled_name)
print(Child.chiled_age)

ram lal
50
ritik kumar
32
rahul
20

In [19]:
# multiple inheritance
class Grandfather:
    pass 
class Father:
    pass
class Child(Grandfather,Father):
    pass
obj =Child()
# obj
# super

In [20]:
# encapsulation


class Collage:
    collage_name = "abc collage" ### public variable
    collage_address = "jaipur" ### public variable
    _account_no = 123456 ### protected variable
    __password = "1234" ### private variable

clg =Collage()

In [21]:
clg.collage_address

'jaipur'

In [22]:
clg.collage_name

'abc collage'

In [23]:
Collage.__password

AttributeError: type object 'Collage' has no attribute '__password'

In [28]:
clg._Collage__password

'1234'

In [24]:
clg._account_no

123456

In [29]:
print("name")

name

In [30]:
lst = [1,2,5,2,58,21,5,24,4,4,1]
print(lst)

[1, 2, 5, 2, 58, 21, 5, 24, 4, 4, 1]

In [31]:
len(lst)

11

In [ ]:
# print()
# input()
# int()
# float()
# str()
# list()
# tuple()
# dict()
# set()

In [32]:
class Country:
    def __init__(self):
        pass

In [33]:
class Country:
    def __init__(self):
        pass

person =Country()

In [34]:
class Collage:
    def __init__(self):
        self.collage_name = "abc collage"   ### instance variable
        self.collage_address = "jaipur"     ### instance variable
        self.account_no = 123456            ### instance variable
        self.password = "1234"              ### instance variable


person=Collage()

In [35]:
person.collage_address

'jaipur'

In [36]:
person.collage_name

'abc collage'

In [37]:
person.account_no

123456

In [38]:
person.password

'1234'

In [39]:
class Collage:
    def __init__(self, collage_name,collage_address,account_no,password):
        self.collage_name = collage_name
        self.collage_address = collage_address
        self.account_no = account_no
        self.password = password

person =Collage(collage_address="jaipur rajasthan ",collage_name="abc collage",account_no=123456,password="1234")

In [40]:
person.collage_address

'jaipur rajasthan '

In [41]:
person.collage_name

'abc collage'

In [42]:
person.account_no

123456

In [43]:
class Collage:
    def __init__(self, collage_name,collage_address,account_no,password):
        self.collage_name = collage_name
        self.collage_address = collage_address
        self.account_no = account_no
        self.password = password
    def display(self):
        print(self.collage_address)
        print(self.collage_name)
        print(self.account_no)
        print(self.password)

person =Collage(collage_address="jaipur rajasthan ",collage_name="abc collage",account_no=123456,password="1234")

In [44]:
person.display()

jaipur rajasthan
abc collage
123456
1234